@model IEnumerable<TripEventPlanner.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<section>
    <h1>My Trips</h1>
</section>

<section class="flex">
    @foreach (var item in Model)
    {
        if (item.StartDate >= DateTime.Now || item.EndDate <= DateTime.Now)
        {
            <section class="flex-wrapper">
                <figure>
                    <img src="#" alt="Alternate Text" class="" />
                    <figcaption>@Html.DisplayFor(modelItem => item.Name)</figcaption>
                </figure>
                <p> @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
            </section>

        }
    }
</section>
<section>
    <h2>Activities</h2>
    @foreach (var item in Model)
    {
        if (item.StartDate >= DateTime.Now || item.EndDate <= DateTime.Now)
        {
            <section class="flex-wrapper">
                <figure>
                    <img src="~/images/activity/museum.jpg" alt="Alternate Text" class="country-url" />
                    <figcaption>@Html.DisplayFor(modelItem => item.Name)</figcaption>
                </figure>
                <p> @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
            </section>
        }
    }
</section>
@*
    <p>
        <a asp-action="AddActivity">Add Activity</a>
    </p>
*@