@model IEnumerable<TripEventPlanner.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<section>
    <h1>My Trips</h1>
</section>

@foreach (var item in Model)
{
    <section class="flex">
        @*if (@item.StartDate > DateTime.Now & @item.EndDate < DateTime.Now)*@
        @if (item.StartDate > DateTime.Now)
        {
            <section class="flex-wrapper">
                <figure>
                    <img src="@Html.DisplayFor(modelItem => item.Country.ImageUrl)" alt="Alternate Text" class="" />
                    <figcaption>@Html.DisplayFor(modelItem => item.Name)</figcaption>
                </figure>
                <p> @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
            </section>

        }
    </section>


    <section>
        @foreach (var location in item.Country.Locations)
        {
            <h1>@location.Name</h1>

            @foreach (var hej in location.Activities)
            {
                <h3>@hej.Name</h3>
                <h3>@hej.Description</h3>
            }

        }

        @*<button asp-action="Home"></button>*@

    </section>
}

@*
    <p>
        <a asp-action="AddActivity">Add Activity</a>
    </p>

*@
